.register-section-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-section {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.register-left {
    width: 720px;
    height: 900px;
    display: flex;
    flex-direction: column;
    padding-top: 208px ;
    padding-left: 175px;
    padding-right: 175px;
}

.register-left-welcome-bg {
    margin-top: 32px;
}

.register-left-welcome-p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.register-left-form-bg {
    margin-top: 32px;
}

.register-left-form-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.register-left-form-title {
    margin-top: 16px;
}

.register-left-input-bg {
    margin-top: 8px;
}

.register-left-input-password-bg {
    margin-top: 8px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-right: 15px;
}

.fieye:hover {
    color: #0D28A6;
    cursor: pointer;
}

.fieyeoff:hover {
    color: #0D28A6;
    cursor: pointer;
}

.register-left-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.register-left-input-password {
    width: 100%;
    border: none;
    padding: 10px 15px;
    outline: none;
}

.register-left-button-bg {
    margin-top: 32px;
}

.register-left-button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: #0D28A6;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.register-left-bottom {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.register-left-bottom-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.register-left-bottom-link-p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.register-right {
    width: 720px;
    height: 900px;
    background-color: #0D28A6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.register-right-title {
    margin-left: 114px;
    margin-bottom: 48px;
}

.register-right-title-h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #FFFFFF;
    opacity: 0.7;
}

.register-right-img-bg {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1280px) {
    .register-section-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .register-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .register-left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 150px ;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .register-right {
        width: 100%;
        height: 100vh;
        background-color: #0D28A6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 100px;
    }
    
    .register-right-title {
        margin-left: 0;
        margin-bottom: 70px;
    }


    .register-right-img-bg img {
        width: 530px;
    }
}

@media only screen and (max-width: 1024px){
    .register-left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 130px ;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .register-right {
        width: 100%;
        height: 100vh;
        background-color: #0D28A6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 50px;
    }
    
    .register-right-title {
        margin-left: 0;
        margin-bottom: 110px;
    }


    .register-right-img-bg img {
        width: 430px;
    }
}

@media only screen and (max-width: 834px){
    .register-left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 270px ;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .register-right {
        width: 100%;
        height: 100vh;
        background-color: #0D28A6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 30px;
    }
    
    .register-right-title {
        margin-left: 0;
        margin-bottom: 200px;
    }


    .register-right-img-bg img {
        width: 390px;
    }
}

@media only screen and (max-width: 768px){
    .register-left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 200px ;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .register-right {
        width: 100%;
        height: 100vh;
        background-color: #0D28A6;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 30px;
    }
    
    .register-right-title {
        margin-left: 0;
        margin-bottom: 110px;
    }


    .register-right-img-bg img {
        width: 350px;
    }
}