.filterbox-section-bg {
    position: absolute;
    top: 458px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filterbox-section {
    padding: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    background-color: white;
}

.filterbox-section:hover {
    padding: 24px;
    box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.filterbox-title-p {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.filterbox-input-bg {
    margin-top: 8px;
}

.filterbox-input {
    padding: 8px 16px;
    width: 208px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    color: #222222;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.filterbox-input::placeholder {
    color: #999999;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.filterbox-input:focus {
    border: 1px solid #35B0A7;
    border-radius: 2px;
    outline: #35B0A7;
}

.filterbox-select-bg {
    margin-top: 8px;
}

.filterbox-button {
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #5CB85F;
    color: white;
}

.form-select:focus {
    border: 1px solid #35B0A7 !important;
    border-radius: 2px;
    outline: #35B0A7;
    box-shadow: none !important;
}

.form-select {
    font-size: 12px !important;
    padding: 8px 16px !important;
    width: 216px !important;
    color: #8A8A8A !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    border: 1px solid #CCCCCC !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
