h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0 !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.navbar-section-bg {
    background-color: #F1F3FF;
    display: flex;
    justify-content: center;
}

.navbar-section {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-button-register {
    padding: 8px 16px;
    border: none;
    background-color: #5CB85F;
    color: white;
    font-weight: 700 ;
}